body {
  background-color: black;
}

a {
  color: grey;
  font-weight: bold;
}

a:hover {
  color: lightblue;
}

.prettyprint ol.linenums li {
  list-style-type: decimal;
}

code {
  color: black;
  display: block;
  white-space: pre;
  background-color: lightgray;
  overflow: auto;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: .5em;
}

nav div a {
  font-size: 1.1em;
  text-decoration: none;
  color: white;
}

nav div a:hover {
  color: grey;
  background-color: lightgray;
}

nav header {
  margin-left: 1em;
  color: white;
}

nav {
  position: relative;
  background-color: black;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

section h1 {
  color: black;
  background-color: grey;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 1em;
}

@media (min-width: 816px) {

  nav div {
  margin-bottom: 1em;
  margin-left: 1em;
  padding-right: 2em;
}

  nav {
    font-family: Mono;
    left: 0%;
    position: absolute;
    max-width: 20%;
    min-width: 20%;
    height: 100%;
    max-height: 100%;
  }
  main {
    font-family: Mono;
    color: white;
    background-color: black;
    position: absolute;
    min-width: 76%;
    max-width: 76%;
    left: 20%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
